<section id="about-us">
  <h2 class="mb-5 font-weight-bold text-center">Sejarah Gereja</h2>

  <div class="row">
    <div class="col-md-6 mb-4">
      <img src="assets/images/gereja-petra.PNG" alt="Gereja Petra" class="img-fluid">
    </div>
    <div class="col-md-6 ">
      <h4 class="mb-4">Gereja Petra</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium aliquid aut dicta
        dignissimos doloremque enim est excepturi expedita facere in inventore itaque labore laborum libero maiores
        minus nesciunt nihil non numquam obcaecati pariatur placeat possimus qui quibusdam, quidem quod recusandae
        repellendus rerum tempora unde ut voluptates? Ut, voluptates!
      </p>
      <a href="#" class="float-right btn btn-sm btn-primary align-items-end ">Read More</a>
    </div>
  </div>
</section>

<hr class="my-5">
