<section id="blog">
  <h2 class="mb-5 font-weight-bold text-center">Blog</h2>

  <div class="card-deck">
    <div class="card">
      <img src="assets/images/gallery/gallery%208.jpg" class="card-img-top" alt="...">
      <div class="card-date">
        <fa-icon [icon]="faCalendar" class="pr-1"></fa-icon>
        2021-12-01
      </div>
      <div class="card-body pt-2 pb-2">
        <h3 class="card-title font-weight-bolder">Lorem ipsum dolor sit amet.</h3>
      </div>
      <div class="card-footer pt-1">
        <a href="#" class="btn btn-sm btn-primary">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/gallery/gallery%207.jpg" class="card-img-top" alt="...">
      <div class="card-date">
        <fa-icon [icon]="faCalendar" class="pr-1"></fa-icon>
        2021-12-01
      </div>
      <div class="card-body pt-2 pb-2">
        <h3 class="card-title font-weight-bolder">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
      </div>
      <div class="card-footer pt-1">
        <a href="#" class="btn btn-sm btn-primary">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/gallery/gallery%206.jpg" class="card-img-top" alt="...">
      <div class="card-date">
        <fa-icon [icon]="faCalendar" class="pr-1"></fa-icon>
        2021-12-01
      </div>
      <div class="card-body pt-2 pb-2">
        <h3 class="card-title font-weight-bolder">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos!</h3>
      </div>
      <div class="card-footer pt-1">
        <a href="#" class="btn btn-sm btn-primary">Read More</a>
      </div>
    </div>
  </div>

  <hr class="my-5">
</section>
