<section id="contact">
  <h2 class="mb-5 font-weight-bold text-center">Hubungi Kami</h2>

  <div class="row">
    <div class="col-lg-5 col-md-12">
      <form class="pl-lg-5">
        <div class="form-group row">
          <div class="col-12">
            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="faUser"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label class="sr-only" for="inlineFormInputGroupEmail">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupEmail" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label class="sr-only" for="inlineFormInputGroupSubject">Subject</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="faTag"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupSubject" placeholder="Subject">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label class="sr-only" for="inlineFormInputGroupMessage">Message</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </div>
              </div>
              <textarea class="form-control" id="inlineFormInputGroupMessage" placeholder="Message"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in
              <fa-icon [icon]="faPaperPlane" class="pl-1"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr class="my-5">
</section>
