/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto Regular';
  src: url('assets/fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('assets/fonts/Poppins-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins Regular", sans-serif;
}
